@model Assignment3.SoniDisa.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2 style="font-size:400%"> <u>Show Teacher </u></h2>
 <h3 style="color: blue"> @Model.TeacherId . @Model.TeacherFname @Model.TeacherLname </h3>
  <h4 style="font-style:italic"> <b>Employee Number:</b> @Model.EmployeeNumber <b>HireDate:</b> @Model.TeacherHireDate <b>Salary:$</b>  @Model.TeacherSalary  </h4>



